* {
  box-sizing: border-box;
}

h1 {
  font-family: arial;
  color: rgb(11, 86, 117);
}

body {
  background-color: #000;
  font-family: arial;
  margin: 0;
  padding: none;
  color: rgb(28, 78, 104);
}

footer {
  font-family: arial;
  font-size: 12px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Links */
a {
  text-decoration: none;
}
a:link {
  color: rgb(233, 73, 154);
}
a:visited {
  color: rgb(110, 30, 71);
}
a:hover {
  color: rgb(252, 207, 230);
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: 380px !important;
  max-height: 640px !important;
  aspect-ratio: 380 / 640;
  visibility: visible;
  z-index: 10;
}

button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:fullscreen,
button:-webkit-full-screen,
h1:fullscreen,
h1:-webkit-full-screen {
  display: none;
}
